footer {
    margin-bottom: 100px;
}

footer button {
    display: inline-flex;
    background-color: transparent;
    border: transparent;
    color: #1e1e1e;
    font-family: Montserrat;
    font-size: 34px;
    line-height: 42px;
}

#next {
    float: right;
}